---
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Siamentis Ltd. All rights reserved.
  <p class="text-sm py-6">
    Siamentis Limited Registered Address: 190/1 Soi Sukhumvit 62/1 Sukhumvit
    Road Prakanong Tai, Prakanong Bangkok 10260 T. +66 2333 0910-2 F. +66 2333
    0913
  </p>
  <div class="social-links">
    <a href="https://www.facebook.com/SiamentisAcademy" target="_blank">
      <span class="sr-only">Follow Siamentis on Facebook</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 32 32"
        ><path
          fill="currentColor"
          d="M16,2c-7.732,0-14,6.268-14,14,0,6.566,4.52,12.075,10.618,13.588v-9.31h-2.887v-4.278h2.887v-1.843c0-4.765,2.156-6.974,6.835-6.974,.887,0,2.417,.174,3.043,.348v3.878c-.33-.035-.904-.052-1.617-.052-2.296,0-3.183,.87-3.183,3.13v1.513h4.573l-.786,4.278h-3.787v9.619c6.932-.837,12.304-6.74,12.304-13.897,0-7.732-6.268-14-14-14Z"
        ></path></svg
      >
    </a>
    <a href="https://www.youtube.com/@siamentis" target="_blank">
      <span class="sr-only">Watch Siamentis channel on Youtube</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 32 32"
        ><path
          fill="currentColor"
          d="M31.331,8.248c-.368-1.386-1.452-2.477-2.829-2.848-2.496-.673-12.502-.673-12.502-.673,0,0-10.007,0-12.502,.673-1.377,.37-2.461,1.462-2.829,2.848-.669,2.512-.669,7.752-.669,7.752,0,0,0,5.241,.669,7.752,.368,1.386,1.452,2.477,2.829,2.847,2.496,.673,12.502,.673,12.502,.673,0,0,10.007,0,12.502-.673,1.377-.37,2.461-1.462,2.829-2.847,.669-2.512,.669-7.752,.669-7.752,0,0,0-5.24-.669-7.752ZM12.727,20.758V11.242l8.364,4.758-8.364,4.758Z"
        ></path></svg
      >
    </a>
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: var(--main-bg) no-repeat;
    color: rgb(var(--white));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--white));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
