---
interface Props {
  id: string; // รับแค่รหัสวิดีโอก็พอ
  title?: string;
}

const { id, title = "YouTube Video" } = Astro.props;
---

<div class="w-full aspect-video rounded-lg overflow-hidden shadow-lg my-8">
  <iframe
    class="w-full h-full"
    src={`https://www.youtube.com/embed/${id}`}
    title={title}
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</div>
